<!-- ch4/ts/hello-world/index.html -->
<!-- the inject css and inject js will let gulp to know where he should add the script -->
<!--
The preceding HTML file defines the basic structure of our page. Just before closing
the body tag, we have references to four script files: the polyfills required by the
framework (including ES2015 shim, zone.js, and others), RxJS, the ES5 bundle of
Angular 2, and the file that contains the application we're going to build.
-->

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title><%= TITLE %></title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- inject:css -->
<!-- endinject -->
</head>
<body>
<!--
use the root
component anywhere inside index.html. In order to finish the application, add the
following HTML element after the open tag of the body element:
<app></app>
-->
<app>Loading...</app>
<!-- inject:js -->
<!-- endinject -->
<%= INIT %>
</body>
</html>